<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip Duration Predictor with Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>NYC Trip Duration Predictor</h1>

        <!-- Map for Selecting Locations -->
        <div id="map"></div>

        <!-- Button to Predict -->
        <button id="predict-button">Predict Trip Duration</button>

        <!-- Results -->
        <div id="results"></div>

        <!-- Evaluation Results -->
        <h2>Model Evaluation Results</h2>
        <button type="button" id="fetch-results">Fetch Evaluation Results</button>
        <div id="evaluation-results"></div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>
